@import "tailwindcss";

@import './partials/_animations.css';
@import './partials/_generics.css';
@import './partials/_tags.css';

/* crear variables propias en tailwind coffee puede ser reemplazado por otro variedad de tonalidades ... y de otros colores bg-coffee-50...950 , text-coffe-50...950  */
@theme {
    /* https://uicolors.app/generate/2505c7 */
    --default-font-family: "Outfit", sans-serif;

    --color-t-midnight-400: #58afff;
    --color-t-midnight-500: #328eff;
    --color-t-midnight-800: #1747b6;
    --color-t-midnight-900: #193f8f;
    --color-t-midnight-950: #0b1630;

    --color-t-saratoga-200: #fdff97;
    --color-t-saratoga-300: #f5fc5a;
    --color-t-saratoga-400: #e7f229;
    --color-t-saratoga-500: #cad909;

    --color-t-scooter-300: #78dee8;
    --color-t-scooter-400: #3ac5d6;
    --color-t-scooter-500: #21b6ca;
    --color-t-scooter-600: #1c899e;
    --color-t-scooter-950: #0f313d;

    --color-t-white: #f5f5f5;
    --color-t-black: #0f0f0f;
    --color-t-dark-blue: #212353;
}


/* LOS COLORES Y FUENTES PUEDEN CAMBIAR SEGÚN EL PROYECTO */

:root {
    --t-padding-75: 0 calc((100vw - 75vw) /2);
    --t-padding-80: 0 calc((100vw - 80vw) /2);
    --t-padding-85: 0 calc((100vw - 85vw) /2);
    --t-padding-90: 0 calc((100vw - 90vw) /2);
    --t-padding-95: 0 calc((100vw - 95vw) /2);
    --border-radius: 20px;
}